/* Dark theme for the container */


.priority label {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #ffffff; /* White text for dark theme */
}

/* Dark theme for the select element */
.priority select {
    background-color: #333333; /* Dark background */
    color: #ffffff; /* White text */
    border: 1px solid #555555; /* Dark border */
    padding: 5px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 4.5rem; /* Width of the select box */
    border-radius: 1rem;
    text-align: center;
}


