{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'base_layout/css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'base_layout/css/home_mobile.css' %}" />
    {%block css%}{%endblock%}
    <title>{%block title%}Base Layout{%endblock%}</title>
    <link rel="icon" href="{% static 'base_layout/images/LogoMain.ico' %}" type="image/x-icon">
</head>

<body>
    <!-- Everything inside the container block is always present as it is inherited in everyother html file -->
    <div class="container">


        <!-- To check if it is authenticated -->
        {% if user.is_authenticated %}
        <!-- Do this -->
        {% else %}
        <!-- Do this instead -->
        {% endif %}

    </div>
    <div class="space-for-other-apps">
        {%block body %}
        <p>Welcome to Second Brain! {{name}} </p>
        {%endblock%}
    </div>

    </div>
</body>
{%block script%}{%endblock%}

</html>