{% extends 'base_layout/home.html' %}
{% load static %}
{%block title%} Login {%endblock%}


{%block css%}
<link rel="stylesheet" href="{% static 'custom_auth/css/form.css' %}" />

{%endblock%}



{%block app%}
<div class="form_container_main">
    <h2>Login</h2>
    <form method="post" class="form_container">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="button_submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
</div>

{%endblock %}




{%block script%}


{%endblock%}