{% extends 'base_layout/home.html' %}
{% load static %}
{%block title%} Register {%endblock%}


{%block css%}
<link rel="stylesheet" href="{% static 'custom_auth/css/register.css' %}" />
{%endblock%}


{%block app%}
<div class="form_container_main">
    <h2>Register</h2>
    <form method="post" class="form_container_register">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="button_submit">Register</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>

{%endblock %}


{%block script%}


{%endblock%}