{% extends 'base_layout/home.html' %}
{% load static %}
{%block title%} Progress Portal {%endblock%}


{%block css%}
<link rel="stylesheet" href="{% static 'progress_portal/css/dashboard.css' %}" />
<link rel="stylesheet" href="{% static 'progress_portal/css/life_goals_display.css' %}" />
<link rel="stylesheet" href="{% static 'progress_portal/css/life_goals_detail_view.css' %}" />
<link rel="stylesheet" href="{% static 'progress_portal/css/project_detail_view.css' %}" />
<link rel="stylesheet" href="{% static 'progress_portal/css/checkbox.css' %}" />
<link rel="stylesheet" href="{% static 'progress_portal/css/drop_down.css' %}" />
<link rel="stylesheet" href="{% static 'exam_quest/css/navbar_toggle.css' %}" />







{%endblock%}

{%block logo%}
<div class="base_logo">
    <img src="{% static 'progress_portal/images/LogoWhite.png' %}" alt="">

</div>

{%endblock %}


{%block app%}


<div class="progress_portal_main">
    <button class="navbar-toggle" id="navbarToggle">☰</button>
    <div class="progress_navbar secondary_navbar ">
        <h2 class="app_themed_text">Progress Portal</h2>
        <div class="progress_portal_navbar_items">
            <div class="svg_label_collection">
                <img src="{% static 'base_layout/svg/inbox.svg' %}" alt="">
                <p>Inbox</p>
            </div>
            <div class="svg_label_collection">
                <img src="{% static 'base_layout/svg/today.svg' %}" alt="">
                <p>Today</p>
            </div>
            <div class="svg_label_collection">
                <img src="{% static 'base_layout/svg/upcoming.svg' %}" alt="">
                <p>Upcoming</p>
            </div>
            <div id="life_goals_display"></div>
        </div>

    </div>
    <div class="task_view">

    </div>
    <div class="projects_quicknav"></div>

</div>



{%endblock %}




{%block script%}

<script src="{% static 'progress_portal/js/async_lifegoals_query.js' %}"> </script>
<script src="{% static 'progress_portal/js/async_detail_view.js' %}"> </script>
<script src="{% static 'exam_quest/js/navbar_toggle.js' %}"></script>



{%endblock%}