
.app_content_wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.base_logo{
    display: flex;
    justify-content: center;
    position: fixed;
    width:calc(100vw - 70px);
}
.base_logo img{
    padding-top: 17px;
    width: 80px;
}


