{% extends 'exam_quest/user_dashboard.html' %}
{% load static %}
{%block title%} Take Exam{%endblock%}


{%block css_exam%}

{%endblock%}



{%block content_exam_quest%}

<div class="exam_quest_content_area">
    <div class="user_information">
        <!-- User information can be added here -->
        <h1>{{ exam.title }}</h1>
        <p>{{ exam.description }}</p>
        <p>Duration: {{ exam.duration }} minutes</p>
        <p>Total Questions: {{ exam.questions.count }}</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Start Exam</button>
        </form>
    </div>
    <div class="exam_quest_extra_information">
        <!-- Additional information can be added here -->
    </div>
</div>
</div>
{%endblock %}