{% extends 'base_layout/home.html' %}
{% load static %}
{%block title%} Exam Quest {%endblock%}


{%block css%}
<link rel="stylesheet" href="{% static 'exam_quest/css/dashboard.css' %}" />
<link rel="stylesheet" href="{% static 'exam_quest/css/exam_dashboard_table.css' %}" />
<link rel="stylesheet" href="{% static 'exam_quest/css/navbar_toggle.css' %}" />




{%block css_exam%}

{%endblock%}

{%endblock%}



{%block app%}
<div class="exam_quest_main">
    <button class="navbar-toggle" id="navbarToggle">☰</button>
    <div class="exam_quest_dashboard_navbar secondary_navbar">
        <h2 class="app_themed_text">Exam Quest</h2>
        <div class="exam_quest_navbar_items">
            <div id="quick_navigation">
                <h3>Quick Navigation</h3>

                <div class="dashboard-section">
                    <h4>Topics</h4>
                    <ul>
                        {% for topic in topics %}
                        <li>{{ topic.name }} ({{ topic.subject }})</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="dashboard-section">


                    <h4><a href="{% url 'exam_result_dashboard' %}" class="btn btn-primary">Exam Dashboard</a></h4>


                </div>


            </div>
        </div>
    </div>
    {%block content_exam_quest%}
    <div class="exam_quest_content_area">
        <div class="user_information">
            <!-- User information can be added here -->

        </div>
        <div class="exam_quest_extra_information">
            <!-- Additional information can be added here -->

        </div>
        {%endblock %}
    </div>

    {%endblock %}




    {%block script%}

    <script src="{% static 'exam_quest/js/navbar_toggle.js' %}"></script>
    {%block script_exams%}
    {%endblock%}
    {%endblock%}